*.py text eol=crlf working-tree-encoding=UTF-8
*.md text eol=crlf working-tree-encoding=UTF-8
*.txt text eol=crlf working-tree-encoding=UTF-8
*.ini text eol=crlf working-tree-encoding=UTF-8
*.spec text eol=crlf working-tree-encoding=UTF-8
*.json text eol=crlf working-tree-encoding=UTF-8
*.toml text eol=crlf working-tree-encoding=UTF-8
*.cfg text eol=crlf working-tree-encoding=UTF-8
*.yml text eol=crlf working-tree-encoding=UTF-8
*.yaml text eol=crlf working-tree-encoding=UTF-8
.editorconfig text eol=crlf working-tree-encoding=UTF-8
.gitattributes text eol=crlf working-tree-encoding=UTF-8
.gitignore text eol=crlf working-tree-encoding=UTF-8
